<h1>New wine log</h1>

<%= form_with(model: [@wine, @millesime, @wlog], local: true) do |form| %>
    <%= render partial: 'form', locals: { subform: false, form: form } %>
<% end %>

<%= link_to 'Back', wine_millesime_path(@wine, @millesime) %>
