  <% if wines.empty? %>
    <%= t('activerecord.models.wine', count: 0) %>
  <% else %>
    <ul class="ungroup">
      <% wines.each do |millesime| %>
      <li>
        <%= link_to "#{millesime.wine.domain} #{human_millesime(millesime)}", wine_millesime_path(millesime.wine, millesime) %>,
        <%= millesime.wine.color.name %>
      </li>
      <% end %>
    </ul>
  <% end %>
